.busca-politicos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.busca-form {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input-busca {
  margin-top: 10px;
  border: 1px solid white;
  height: 60px;
  text-align: center;
  width: 600px;
  margin-bottom: -140px;
}

.btn-buscar {
  border: none;
  color: white;
  font-size: 20px;
}

  .politico-item {
    height: 500px;
    width: 100%;
    background-color: #242424;
    border-radius: 0;
    display: flex;
    margin-top: 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;  
  }


.listas-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 30px;
}

.lista-politicos {
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  align-self: flex-end;
}

h3 {
  color: #515151;
  font-size: 30px;
  width: 200px;
  margin-bottom: 50px;
}




.imgbanner, .itensbanner {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.itensbanner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.itensbanner a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.imgbanner {
  background-color: #235D33;
  height: 500px;
  margin-top: 0px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0px;
}

.imgbanner .img {
  align-self: center;
  padding: 10px;
  height: 150px;
  background-color: #237B3B;
  width: 200px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: 0.9;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imgbanner img {
    align-self: center;
    margin-bottom: 10px;
    height: 40px;
}

.doub {
  height: 70px !important;
  margin-top: -20px;
}

.hand {
  height: 70px !important;
}

.btn-voltarbp {
  width: 100px;
  margin: 0;
  margin-right: 1700px;
  margin-top: 90px;
  margin-bottom: -130px;
  border: none;
  color: white;
  background-color: #237B3B;
cursor: pointer;
}