.busca-politicos {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a; /* Fundo escuro */
  color: white; /* Texto branco */
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto; /* Centraliza o componente e adiciona margem superior */
  position: relative; /* Para que o rodapé fique em relação a este elemento */
  padding-bottom: 20px; /* Ajuste o espaço inferior */
  margin-top: 150px; /* Aumenta o espaço acima para ficar mais perto do final da tela */
}

.lista-politicos {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 400px; /* Defina uma altura máxima */
  overflow-y: auto; /* Adiciona rolagem vertical */
}

.rodape {
  position: fixed; /* Fixa o rodapé */
  bottom: 0; /* Coloca o rodapé na parte inferior */
  left: 0;
  right: 0;
  background-color: var(--black-900); /* Cor do fundo do rodapé */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 10px; /* Espaçamento interno */
}

h1 {
  text-align: center;
  color: #00cc00; /* Verde */
  margin-bottom: 20px;
}

.busca-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaçamento entre os campos */
}

.input-busca {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-buscar {
  background-color: #00cc00; /* Verde */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.btn-buscar:hover {
  background-color: #009900; /* Verde escuro */
}

.lista-politicos {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 400px; /* Defina uma altura máxima */
  overflow-y: auto; /* Adiciona rolagem vertical */
}

.politico-item {
  background-color: #2C2C2C; /* Fundo mais claro */
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.politico-item img {
  border-radius: 50%; /* Imagem redonda */
}

.btn-detalhes {
  background-color: #007bff; /* Azul */
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-detalhes:hover {
  background-color: #0056b3; /* Azul escuro */
}
