.configuracoes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
  width: 95%;
  margin: auto;
  margin-top: 150px;
  background-color: #32774b;
  border-radius: 10px;
  padding: 20px;
}

.configuracoes-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input, select {
  background-color: #D9D9D9;
  color: black;
  font-size: 20px;
}

input:focus, select:focus {
  color: black;
  font-size: 20px;
  outline: none;
}

.configuracoes-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.botoes-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: -90px;
}

.botoes-container button {
  width: 200px;
  color: white;
  border: none;
  font-size: 20px;
}

.btn-confirmar {
  background-color: #1E1E1E;
}

.btn-deletar {
  background-color: #EF3030;
}

.btn-voltarcu {
    width: 100px;
    margin: 0;
    margin-right: 1680px;
    margin-top: 0;
    height: 20px;
    margin-bottom: -130px;
    border: 2px solid black;
    color: white;
    background-color: #237B3B;
  cursor: pointer;

}