section {
  margin-top: 150px;
  height: 82.2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

}

section .firstPanel {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  width: 100% ;
  margin-bottom: 15px;
  color: black;
}

section .secondPanel {

  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  width: 100% ;
  color: black;
}

.firstPanel .leftCard {

  height: 370px;
  width: 300px;
  background-color: #34CB79;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;
  flex-direction: column;

}

.firstPanel .rightCard {

  height: 370px;
  width: 900px;
  background-color: #2E6533;
  margin-left: 30px;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;
  flex-direction: column;

}

.secondPanel .leftCard {
  
  height: 370px;
  width: 300px;
  background-color: #EEC424;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;
  flex-direction: column;

}

.secondPanel .rightCard {

  height: 370px;
  width: 900px;
  background-color: #3C3C3C;
  margin-left: 30px;
  display: flex;
  align-items: start;
  flex-direction: column ;
  justify-content: start;
  text-align: start;

}

.tittle {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 40px;
}

.fl {
  color: #1F7A49 !important;
}

.fr {
  color: #17331A !important;
}

.sl {
  color: #8F7616 !important;
}

.firstPanel a {

  text-decoration: none;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 15px;
  font-weight: bold;
  color: #2E5741;
}

.firstPanel .leftCard hr {
  height: 2px !important;
  width: 200px;
  margin-left: 20px !important;
  margin: 0;
  background-color: #2E5741;
  display: flex;
  flex-direction: row;
}

.legenda {
  width: 600px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  opacity: 50%;
  margin-left: 99px;
  margin-top: 20px;
}

.conjunto {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: -60px;
}

.fotos {

  flex-direction: row;
  height: 200px;
  display: flex;
  width: 200px;
}

.fotos img {

  height: 120px;
  width: 120px;
  border-radius: 10px;
  background-color: aliceblue;
}
  

.artur {
  margin-top: 40px;
  margin-left: 10px;
}

.secondPanel .leftCard hr {
  height: 2px !important;
  width: 200px;
  margin-left: 20px !important;
  margin: 0;
  background-color: #2E5741;
  display: flex;
  flex-direction: row;
}

.hr {
  height: 2px !important;
  width: 200px;
  margin: 0;
  margin-left: 20px !important;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: row;
}

.secondPanel a {

  text-decoration: none;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: bold;
  color: white;

}

.secondPanel .rightCard a {
  color: #9B9B9B !important;
}

.secondPanel .rightCard img {
  display: flex;
  height: 330px;
  margin-left: 650px;
  margin-top: -300px;
}

.secondPanel .rightCard hr {
  height: 2px !important;
  width: 200px;
  margin: 0 0 10px 30px;
  background-color: black;
  border: none;
  display: block;
}

.carregando {
  margin: auto;
  padding-bottom: 80px; 
  font-size: 30px;
  font-weight: bold;
}

.secondPanel .link {

  text-decoration: none;
  font-size: 30px;
  margin: 10px 0 10px 0;
  margin-left: 30px;
  font-weight: bold;
  color: #9B9B9B

}