section {
  margin-top: 150px;
  height: 82.2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

}

section .firstPanel {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  width: 100% ;
  margin-bottom: 15px;
  color: black;
}

section .secondPanel {

  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  width: 100% ;
  color: black;
}

.firstPanel .leftCard {

  height: 370px;
  width: 300px;
  background-color: #34CB79;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;
  flex-direction: column;

}

.firstPanel .rightCard {

  height: 370px;
  width: 900px;
  background-color: #309E3A;
  margin-left: 30px;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;
  flex-direction: column;

}

.secondPanel .leftCard {
  
  height: 370px;
  width: 300px;
  background-color: #EEC424;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;

}

.secondPanel .rightCard {

  height: 370px;
  width: 900px;
  background-color: #3C3C3C;
  margin-left: 30px;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;

}

.tittle {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 40px;
}

.fl {
  color: #1F7A49 !important;
}

.fr {
  color: #17331A !important;
}

.sl {
  color: #8F7616 !important;
}

.firstPanel a {

  text-decoration: none;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 15px;
  font-weight: bold;
  color: #2E5741;
}

.firstPanel .leftCard hr {
  height: 2px !important;
  width: 200px;
  margin-left: 20px !important;
  margin: 0;
  background-color: #2E5741;
  display: flex;
  flex-direction: row;
}

.legenda {
  width: 600px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  opacity: 50%;
  margin-left: 99px;
  margin-top: 20px;
}

.conjunto {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: -20px;

}

.fotos {

  background-color: white;
  height: 200px;
  width: 200px;
}

.fotos img {

  
}
