.cadastro-form {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: start;
  align-items: center;
  background-color: var(--green-700);
  height: 840px;
  width: 670px;
  margin-top: -180px;
  border-radius: 10px;
}

.cadastre-seaqui {

margin-bottom: 23px;
color: var(--grey-700);

}

input, select {
  background-color: var(--gray-700) !important;
  width: 460px;
  height: 60px;
  border: none;
  margin-bottom: 25px;
  border-radius: 10px;
  padding-left: 10px;
  color: var(--white-400) !important;
  padding-left: 10px;
  font-weight: bold; 
  font-size: 14px;
  transition: all 0.3s ease;  
}

input:focus, select:focus {
  color: white !important;
  font-size: 16px !important;
  outline: none !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) !important;

}

.date-inputs {
  display: flex;
  flex-direction: row;
  width: 300px !important;
  justify-content: center;
  margin: 20px 0 20px 0;
  text-align: center;
}

.legenda{
  justify-content: start!important;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0 6px 0;
  text-align: start;
  margin-right: auto;
  margin-left: 102px;
  font-size: 16px;
  font-weight:bold;
}

.date-inputs input {
  margin: 0 10px 0 10px
}

.local_inputs select {
  min-width: 80px;
  width: fit-content;
  max-width: 300px;
  margin: 0 10px 0 10px;
  padding-right: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffffff' d='M6 9L0 3h12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  opacity: 1;
}

.local_inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 500px;

}

.termos {
  text-align: start;
  font-size: 13px;
}

.termos span {
  text-decoration: underline;
}

.btnCadastrar {
  margin-top: 20px;
  background-color: var(--gray-700);
  height: 40px;
  width: 300px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}